/node_modules
/public/hot
/public/storage
/storage/*.key
!/storage/app/public/images/
!/storage/app/public/images/.gitkeep
/storage/app/public/images/*
!/storage/app/public/thumbnails/
!/storage/app/public/thumbnails/.gitkeep
/storage/app/public/thumbnails/*
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
